---
import Badge from "../components/Badge.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../Icons/LinkedIn.astro";
import SocialPill from "../Icons/SocialPill.astro";
import GithubIcon from "../Icons/Github.astro";
import Mailicon from "../Icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../Icons/Briefcase.astro";
---

<Layout
 title="Porfolio de Orlando. Desarrollador y Web"
 description="Soy un desarrollador web apasionado y autodidacta con más de 1 año de experiencia"
 >
  <main>
     <SectionContainer class= "py-44 pb-24"> 
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy orlando <a
          href="https://www.linkedin.com/in/orlando-gonzalez-490307348/"
          target="_blank"
          class="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge></a
        >

        <h2 class="text-2xl text-wrap">
          <span> +1 año de experiencia.</span>
          <span class="text-yellow-200/90"> Desarrollador Web Entusiasta.</span>
          <span class="text-red-200/90"> De Caracas, Venezuela.</span>
          <span class="opacity-75">
            Especializado en Crear Aplicaciones Únicas.</span
          >
        </h2>

        <nav class="flex gap-x-4 mt-8">
          <SocialPill href="https://www.linkedin.com/in/orlando-gonzalez-490307348/">
            <LinkedInIcon class="w-6 h-6" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/Orlandiny">
            <GithubIcon class="w-6 h-6" />
            GitHub
          </Githubicon>
          <SocialPill href="https://github.com/Orlandiny">
            <Mailicon class="w-6 h-6" />
            orlando.quero77@gmail.com
          </Githubicon>
        </nav>
      </SectionContainer>
 
    <SectionContainer id = "experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
           Experiencia Laboral
      </h2>
      <Experience/>
    </SectionContainer>
  </main>
</Layout>
