<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
<img 
class="rounded-full w-12 h-12"
src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/338435076_1389523508312803_4665009782746034594_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=x8skdqbNaroQ7kNvgEPXpVu&_nc_zt=23&_nc_ht=scontent-bog2-1.xx&_nc_gid=AZ7CddpggOHVYNGr_Sbnb16&oh=00_AYD3LB7gTZ0QYbNR3FSE8DHD-W8bCmLGz9dQrlx-mEQIOQ&oe=67BAA0AF" 
alt="orlandini photo">

<nav class="flex flex-row gap-x-10 opacity-80 ">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>

</nav>
</header>